* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#light {
  background-color: #f2f2f2;
}
#dark,
#dark .middle {
  background-color: #141d2f;
}
.main {
  width: 730px;
  background-color: #f2f2f2;
}
#light .main {
  background-color: #f2f2f2;
}
#dark .main {
  background-color: #141d2f;
}
header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
}
#light header {
  background-color: #f2f2f2;
}
#dark header {
  background-color: #141d2f;
}
#dark h2,
#dark h4,
#dark header figure span,
#dark::placeholder,
#dark .rightSide2 > p,
#dark .description,
#dark .middle > div > p,
#dark span {
  color: #ffffff;
}
.svgIcon {
  margin-right: 20px;
  stroke: white;
  fill: red;
} 
header figure {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
header figure span {
  margin-right: 10px;
  font-size: 15px;
  font-family: "Space-Mono";
  font-weight: bold;
  color: #697c9a;
}
.searchSection {
  position: relative;
  height: 100px;
  background-color: #f2f2f2;
}
.searchSection input {
  width: 100%;
  height: 70px;
  border-radius: 15px;
  border: none;
  outline: none;
  background: url("./images/Search.svg") no-repeat #fefefe 25px;
  color: #4b6a9b;
  padding-left: 80px;
  font-size: 17px;
  font-family: "Space Mono";
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}
#light .searchSection input {
  background-color: #fefefe;
}
#dark .searchSection input {
  background-color: #1e2a47;
  box-shadow: none;
}
.searchSection button {
  position: absolute;
  right: 10px;
  bottom: 39px;
  padding: 15px 30px;
  background-color: #0079ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
}
.infoSection {
  background-color: #fefefe;
  border-radius: 15px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}
#light .infoSection {
  background-color: #fefefe;
}
#dark .infoSection {
  background-color: #1e2a47;
  box-shadow: none;
}
.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.top figure img {
  border-radius: 100%;
}
.rightSide {
  width: 77%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rightSide2 {
  display: flex;
  justify-content: space-between;
}
.name p {
  color: #0079ff;
  margin: 8px 0;
}
.description {
  width: 77%;
  margin: -25px 0 20px 0;
  line-height: 25px;
  font-family: "Space-Mono";
  color: #4b6a9b;
}
.middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f6f8ff;
  height: 85px;
  width: 77%;
  border-radius: 10px;
  padding-right: 50px;
}
.middle div h4 {
  color: #4b6a9b;
  font-weight: normal;
}
.middle div p {
  font-size: 22px;
  font-weight: bold;
}
.bottom {
  width: 77%;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  margin-top: 30px;
}
.bottom figure {
  margin-top: 15px;
}
.locationWebsite figure span {
  margin-left: 20px;
}
.twitterCompany figure img {
  margin-right: 20px;
}
.twitterCompany figure span {
  margin-left: 20px;
}
p,
span {
  font-size: 17px;
}
@media only screen and (max-width: 735px) {
  .wrapper {
    padding: 80px;
  }
  .main {
    height: auto;
  }
  .searchSection input {
    font-size: 15px;
  }
  .infoSection {
    padding: 40px;
  }
  .top {
    width: 100%;
  }
  .rightSide2 {
    flex-direction: column;
    margin: 10px 0 0 20px;
  }
  .description {
    width: 100%;
    margin: 10px 0 20px 0;
    letter-spacing: 0.05em;
  }
  .name p {
    margin: 8px 0;
  }
  .middle {
    width: 100%;
  }
  .bottom {
    width: 100%;
  }
  p,
  span {
    font-size: 15px;
  }
}
@media only screen and (max-width: 590px) {
  .wrapper {
    padding: 25px;
  }
  .main {
    height: auto;
  }
  .searchSection input {
    font-size: 13px;
  }
  .rightSide2 {
    margin: 0px 0 0 20px;
  }
  .name h2 {
    font-size: 19px;
  }
  .name p {
    margin: 0 0 7px 0;
  }
  .top figure img {
    width: 70px;
    height: 70px;
  }
  .middle {
    padding-right: 0;
  }
  .bottom {
    flex-direction: column;
  }
  p,
  span {
    font-size: 13px;
  }
}
